<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div class="box" id="heading">
        <h1><%= listTitle  %> </h1>
    </div>
    
    <div class="box">
            <%  for(let i = 0; i < newListItem.length; i++){  %>
                <div class="item">
                    <input type="checkbox" autocomplete="off">
                    <p> <%= newListItem[i] %> </p>
                </div>
                <% }  %>
                <form action="/" class="item" method="post">
                  <input type="text" name="newItem" placeholder="New Item">
                  <button type="submit" name="list" value=<%= listTitle %>>+</button>
                </form>
    </div>

</body>
</html>